/dts-v1/;
#include "sun8i-r40.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "O4-A40i-SODIMM-MB";
	compatible = "sinovoip,bpi-m2-ultra", "allwinner,sun8i-r40";

	aliases {
		ethernet0 = &gmac;
		ethernet1 = &emac;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	// connector {
	// 	compatible = "hdmi-connector";
	// 	type = "a";

	// 	port {
	// 		hdmi_con_in: endpoint {
	// 			remote-endpoint = <&hdmi_out_con>;
	// 		};
	// 	};
	// };

	leds {
		compatible = "gpio-leds";

		// user-led-green {
		// 	label = "bananapi:green:user";
		// 	gpios = <&pio 7 1 GPIO_ACTIVE_HIGH>;
		// };

		// user-led-blue {
		// 	label = "bananapi:blue:user";
		// 	gpios = <&pio 7 17 GPIO_ACTIVE_HIGH>;
		// };
	};

};


&cpu0 {
	cpu-supply = <&reg_dcdc2>;
};

&ahci {
	status = "disabled";
};

// &de {
// 	status = "okay";
// };

&ehci1 {
	status = "okay";
};

&ehci2 {
	status = "okay";
};

// &ehci0 {
// 	status = "okay";
// };


// &ohci0 {
// 	status = "okay";
// };

&ohci1 {
	status = "okay";
};

&ohci2 {
	status = "okay";
};

&gmac {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac_mii_pins_reduced>;
	phy-handle = <&phy1>;
	phy-mode = "mii";
	phy-supply = <&reg_dcdc1>;
	status = "okay";
};


&gmac_mdio {
	phy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
		reset-gpios = <&pio 7 13 GPIO_ACTIVE_LOW>; /* PH13 */
		reset-assert-us = <10000>;
		reset-deassert-us = <100000>;
        icplus,select-rx-error;
        status = "okay";
	};
};

&emac {
	pinctrl-names = "default";
	phy-handle = <&phy2>;
	phy-mode = "mii";
	phy-supply = <&reg_dcdc1>;
    pinctrl-0 = <&emac_ph_pins>;

	status = "okay";
};

&emac_mdio {
	status = "okay";
	phy2: ethernet-phy@0 {
		reg = <0>;
        icplus,select-rx-error;
		reset-gpios = <&pio 7 12 GPIO_ACTIVE_LOW>; /* PH12 */
		reset-assert-us = <10000>;
		reset-deassert-us = <100000>;
	};
};



&hdmi {
	status = "disabled";
};

// &hdmi_out {
// 	hdmi_out_con: endpoint {
// 		remote-endpoint = <&hdmi_con_in>;
// 	};
// };

&i2c0 {
	status = "okay";

	axp22x: pmic@34 {
		compatible = "x-powers,axp221";
		reg = <0x34>;
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
	};
};

#include "axp22x.dtsi"

&ir0 {
	status = "disabled";
};

&mmc0 {
	vmmc-supply = <&reg_dcdc1>;
	bus-width = <4>;
	cd-gpios = <&pio 2 5 GPIO_ACTIVE_LOW>; /* pc5 */
	status = "okay";
};

// &mmc1 {
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&mmc1_pg_pins>;
// 	vmmc-supply = <&reg_dldo2>;
// 	vqmmc-supply = <&reg_dldo1>;
// 	mmc-pwrseq = <&wifi_pwrseq>;
// 	bus-width = <4>;
// 	non-removable;
// 	status = "okay";
// };

&mmc2 {
	vmmc-supply = <&reg_dcdc1>;
	vqmmc-supply = <&reg_dcdc1>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&pio {
	pinctrl-names = "default";
	pinctrl-0 = <&clk_out_a_pin>;
	vcc-pa-supply = <&reg_dcdc1>;
	vcc-pc-supply = <&reg_dcdc1>;
	vcc-pd-supply = <&reg_dcdc1>;
	vcc-pe-supply = <&reg_eldo1>;
	vcc-pf-supply = <&reg_dcdc1>;
	vcc-pg-supply = <&reg_dldo1>;

    /* w/o ECOL and ETXERR */
    gmac_mii_pins_reduced: gmac-mii-pins-reduced {
        pins = "PA0", "PA1", "PA2", "PA3",
                "PA4", "PA5", "PA6", "PA7",
                "PA8", "PA9", "PA10", "PA11", "PA12",
                "PA13", "PA14", "PA15";
	drive-strength = <40>;

        function = "gmac";
    };

    can0_pins_pa: can0-pins-pa {
        pins = "PA16", "PA17";
        function = "can";
    };

};

&reg_aldo2 {
	regulator-min-microvolt = <2500000>;
	regulator-max-microvolt = <2500000>;
	regulator-name = "vcc-pa";
};

&reg_aldo3 {
	regulator-always-on;
	regulator-min-microvolt = <2700000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "avcc";
};

&reg_dc1sw {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-gmac-phy";
};

&reg_dcdc1 {
	regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-3v3";
};

&reg_dcdc2 {
	regulator-always-on;
	regulator-min-microvolt = <1000000>;
	regulator-max-microvolt = <1300000>;
	regulator-name = "vdd-cpu";
};

&reg_dcdc3 {
	regulator-always-on;
	regulator-min-microvolt = <1000000>;
	regulator-max-microvolt = <1300000>;
	regulator-name = "vdd-sys";
};

&reg_dcdc5 {
	regulator-always-on;
	regulator-min-microvolt = <1500000>;
	regulator-max-microvolt = <1500000>;
	regulator-name = "vcc-dram";
};

&reg_dldo1 {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-wifi-io";
};

/*
 * Our WiFi chip needs both DLDO2 and DLDO3 to be powered at the same
 * time, with the two being in sync, to be able to meet maximum power
 * consumption during transmits. Since this is not really supported
 * right now, just use the two as always on, and we will fix it later.
 */

&reg_dldo2 {
	regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-wifi";
};

&reg_dldo3 {
	regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-wifi-2";
};

&reg_dldo4 {
	regulator-min-microvolt = <2500000>;
	regulator-max-microvolt = <2500000>;
	regulator-name = "vdd2v5-sata";
};

&reg_eldo3 {
	regulator-min-microvolt = <1200000>;
	regulator-max-microvolt = <1200000>;
	regulator-name = "vdd1v2-sata";
};

&tcon_tv0 {
	status = "disabled";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

// &uart3 {
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&uart3_pg_pins>, <&uart3_rts_cts_pg_pins>;
// 	uart-has-rtscts;
// 	status = "okay";

// 	bluetooth {
// 		compatible = "brcm,bcm43438-bt";
// 		clocks = <&ccu CLK_OUTA>;
// 		clock-names = "lpo";
// 		vbat-supply = <&reg_dldo2>;
// 		vddio-supply = <&reg_dldo1>;
// 		device-wakeup-gpios = <&pio 6 11 GPIO_ACTIVE_HIGH>; /* PG11 */
// 		/* TODO host wake line connected to PMIC GPIO pins */
// 		shutdown-gpios = <&pio 7 12 GPIO_ACTIVE_HIGH>; /* PH12 */
// 		max-speed = <1500000>;
// 	};
// };

&usbphy {
	usb1_vbus-supply = <&reg_dcdc1>;
	usb2_vbus-supply = <&reg_dcdc1>;
	status = "okay";

	// usb0_id_det-gpios = <&pio 7 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; /* PH10 */

};

&can0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&can0_pins_pa>;
};

// &usb_otg{
// 	status = "okay";
// };

&rtp {
    status = "disabled";
};

&battery_power_supply {
    status = "okay";
};

&ac_power_supply {
    status = "okay";
};

&usb_power_supply {
    status = "okay";
};

